.slider-images{
	img{
		max-height: 250px;
		padding: 0px 10px;
	}
	.slidecaption{
		text-align: center;
		color: #999999;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 200;
	}
}

.slider-content {
	padding-top: 10px;
}
.slider-help {
	padding-top: 20px;
	text-align: center;
	color: #999999;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 200;
}